<article class="doc">
<script defer id="fairlytics-id-ajcu6jd9k7ysd6" data-fairlyticskey="7fa41273-4223-45fb-a51a-248505177aff" src="https://app.fairlytics.tech/tag/tag.js"></script>
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{{page.contents}}}
{{> pagination}}
</article>
